<!-- A single Flight -->
<!-- expecting flight: IFlight document -->

<tr class="flight">
    <td><p><span><%= flight.flightNo %></span></p></td>
    <td><p><span><%= flight.airport %></span></p></td>
    <td><p><%= flight.airline %></p></td>
    <td>
        <p style="<%= flight.departs < new Date() ? "color:red;" : "" %>"><%= flight.departs ? flight.departs.toLocaleDateString() + " " + flight.departs.toLocaleTimeString() : "" %></p>
    </td>
    <td>
        <a href="/flights/edit/<%= flight._id %>"><button>edit</button></a>
        <a href="/flights/<%= flight._id %>?_method=DELETE"><button>X</button></a>
    </td>

    <td>
        <a href="/flights/<%= flight._id %>">
            <button>details</button>
        </a>
    </td>
</tr>

