<%- include("../partials/header") %>
<% const flight = vars.flight; %>
<% const airports = vars.airports %>
<% const airlines = vars.airlines %>

<a href="/flights">Back to flights</a>

<h1>Edit</h1>

<form method="post" action="/flights/<%= flight._id %>?_method=PUT">
    <label>
        Airline:
        <select name="airline">
            <% airlines.forEach(airline => { %>
                <option value="<%= airline %>" <%= flight.airline === airline ? "selected" : "" %>><%= airline %></option>
            <% }); %>
        </select>
    </label>

    <label>
        Airport:
        <select name="airport">
            <% airports.forEach(airport => { %>
                <option value="<%= airport %>"
                        <%= flight.airport === airport ? "selected" : "" %>><%= airport %>
                </option>
            <% }); %>
        </select>
    </label>

    <label>
        Flight No.:
        <input name="flightNo" type="number" min="10" max="9999" value="<%= flight.flightNo %>" required/>
    </label>

    <label>
        Departs:
        <input name="departs" type="datetime-local"
               value="<%= flight.departs ? flight.departs.toISOString().slice(0, 16) : "" %>"/>
    </label>

    <p>Destinations:</p>
    <div id="destinations">
        <% if (flight.destinations) { %>
            <% flight.destinations.forEach(dest => { %>
                <input type="text" value="<%=dest.airport%>" readonly/>
            <% }); %>
        <% }%>
    </div>

    <div>
        <button type="button" id="dest-add-btn">+</button>
        <button type="button" id="dest-sub-btn">-</button>
        <label>
            <select id="dest-selection"></select>
        </label>
    </div>

    <button>Submit</button>
</form>

<script>
    window.addEventListener("load", () => {
        const airportEl = document.querySelector("select[name='airport']");
        const destEl = document.getElementById("destinations");
        const destSelectEl = document.getElementById("dest-selection");
        const addBtn = document.getElementById("dest-add-btn");
        const subBtn = document.getElementById("dest-sub-btn");
        const airports = [
            <% airports.forEach(airport => { %>
            "<%= airport %>",
            <% }); %>
        ];

        function updateSelection() {
            destSelectEl.innerHTML = "";

            airports.forEach(airport => {
                let show = true;

                if (airport === airportEl.value) {
                    show = false;
                } else {
                    for (let i = 0; i < destEl.children.length; ++i) {
                        if (destEl.children[i].value === airport) {
                            show = false;
                            break;
                        }
                    }
                }

                if (show) {
                    console.log("added ", airport);
                    const optEl = document.createElement("option");
                    optEl.setAttribute("value", airport);
                    optEl.innerText = airport;

                    destSelectEl.appendChild(optEl);
                }
            });
        }

        function stripDestinations() {
            for (let i = 0; i < destEl.children.length;) {
                if (destEl.children[i].value === airportEl.value) {
                    destEl.removeChild(destEl.children[i]);
                } else {
                    ++i;
                }
            }
        }

        airportEl.addEventListener("input", evt => {
            stripDestinations();
            updateSelection();
        });

        addBtn.addEventListener("click", evt => {
            if (destSelectEl.value === "") return;
            const input = document.createElement("input");
            input.innerText = destSelectEl.value;
            input.setAttribute("name", "destination" + destEl.children.length);
            input.setAttribute("value", destSelectEl.value);
            input.setAttribute("readonly", "");
            destEl.appendChild(input);
            updateSelection();
        });

        subBtn.addEventListener("click", evt => {
            const input = destEl.lastChild;
            console.log(input);
            if (input) {
                destEl.removeChild(input);
                updateSelection();
            }
        });

        updateSelection();
    });
</script>

<%- include("../partials/footer") %>
